[tool.poetry]
name = "web-sand"
version = "2.1.11"
description = "UI for browsing/editing semantic descriptions"
authors = ["Binh Vu <binh@toan2.com>"]
repository = "https://github.com/usc-isi-i2/sand"
license = "MIT"
packages = [
    { include = "sand" }
]
readme = "README.md"
include = ["sand/www/**/*"]

[tool.poetry.scripts]
sand = 'sand.__main__:cli'

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
kgdata = "^3.4.2"
sm-grams = "^2.1.7"
sem-desc = "^4.4.2"
peewee = "^3.15.2"
Flask = "^2.2.2"
python-dotenv = ">= 0.19.0, < 0.20.0"
tornado = "^6.2"
gena = "^1.6.4"
loguru = "^0.6.0"
orjson = "^3.8.2"
drepr = "^2.10.0"
rsoup = "^2.5.1"

lat_lon_parser = "^1.3.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
