[tool.poetry]
name = "web-sand"
version = "2.1.7"
description = "UI for browsing/editing semantic descriptions"
authors = ["Binh Vu <binh@toan2.com>"]
repository = "https://github.com/usc-isi-i2/sand"
license = "MIT"
packages = [
    { include = "sand" }
]
readme = "README.md"
include = ["sand/www/**/*"]

[tool.poetry.scripts]
sand = 'sand.__main__:cli'

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
kgdata = "^3.0.1"
sm-grams = "^2.1.3"
sem-desc = "^3.5.2"
peewee = "^3.14.4"
Flask = "^2.0.2"
python-dotenv = ">=0.19.0"
tornado = "^6.1"
gena = "^1.1.2"
loguru = ">=0.6.0"
orjson = "^3.6.8"
drepr = "^2.10.0"

lat_lon_parser = "^1.3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
