kgns: sm.namespaces.wikidata.WikidataNamespace.create
entity:
  constructor: sand.extensions.wikidata.get_entity_db
  args:
    dbfile: /tmp/entities.db
    proxy: true
  default: builtins.dict
  instanceof:
    "http://www.wikidata.org": P31
  nil:
    id: drepr:nil
    uri: https://purl.org/drepr/ontology/1.0/nil
  new_entity_template: http://www.wikidata.org/entity/{id}
class:
  constructor: sand.extensions.wikidata.get_ontclass_db
  args:
    dbfile: /tmp/classes.db
    proxy: true
  default: sand.extensions.wikidata.get_default_classes
property:
  constructor: sand.extensions.wikidata.get_ontprop_db
  args:
    dbfile: /tmp/properties.db
    proxy: true
  default: sand.models.ontology.semweb_default_props
semantic_model:
  identifiers:
    - http://www.w3.org/2000/01/rdf-schema#label
  statements:
    - http://wikiba.se/ontology#Statement
search:
  entity: sand.extensions.search.wikidata_search.extended_wikidata_search
  ontology: sand.extensions.search.wikidata_search.extended_wikidata_search
export:
  default: drepr
  drepr: sand_drepr.main.DreprExport
assistant:
  default: mtab
  mtab: sand.extensions.assistants.mtab.MTabAssistant
